{% extends 'base/base.html' %}
{% block title %}
    优朋普乐数据库管理平台-SQL审核
{% endblock %}
{% block heading %}
    <h1><i class='fa fa-file'></i> SQL 审核</h1>
    <h3>基于 Inception 开发，集SQL审核、自动备份、在线修改表结构等功能为一体的DB运维工具</h3>
{% endblock %}
{% load filters %}
{% block content %}
    <div class="col-md-12" >
        <div class="widget">
            <div class="widget-header transparent">
                <h2><strong>已完成</strong> 列表</h2>
                <div class="additional-btn">
                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                </div>
            </div>
            <div class="widget-content" style="background-color: #f3f3f3">
                <div class="table-responsive">
                    <table class="table " style="background-color: #f3f3f3">
                        <thead>
                        <tr>
                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">提交用户</th>
                            <th style="text-align: center">项目经理</th>
                            <th style="text-align: center">执行用途</th>
                            <th style="text-align: center">提交时间</th>
                            <th style="text-align: center">执行时间</th>
                            <th style="text-align: center">SQL</th>
                            <th style="text-align: center">机器审核</th>
                            <th style="text-align: center">项目经理审核</th>
                            <th style="text-align: center">执行</th>
                            <th style="text-align: center">实例名</th>
                            <th style="text-align: center">实例组</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for list in record_list.object_list %}
                            <div class="modal fade" id="{{ list.id }}sqlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                    aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">查看SQL</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ list.sql | linenumbers | linebreaks }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <tr>
                                <td align="center">{{ list.id }}</td>
                                <td align="center">{{ list.user_name }}</td>
                                <td align="center">{{ list.pm_name }}</td>
                                <td align="center">{{ list.for_what }}</td>
                                <td align="center">{{ list.submit_time | date:'y-m-d H:i' }}</td>
                                <td align="center">{{ list.execute_time | date:'y-m-d H:i' }}</td>
                                <td align="center">
                                    <button type="button" class="btn btn-xs btn-info"
                                            data-toggle="modal" data-target="#{{ list.id }}sqlModal"
                                            style="border-radius: 5px">
                                        SQL
                                    </button>
                                </td>
                                <td align="center">
                                    {% if list.is_checked == 1 %}
                                        <span class="icon-check-1" aria-hidden="true"
                                              style="color: limegreen;"></span>
                                    {% else %}
                                        <span class="icon-cancel-3" aria-hidden="true"
                                              style="color: red;"></span>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if list.is_reviewed == 1 %}
                                        <span class="icon-check-1"
                                              style="color: limegreen;"></span>
                                    {% elif list.is_reviewed == 0 %}
                                        <span class="icon-help-2"
                                              style="color: darkgray;"></span>
                                    {% else %}
                                        <span class="icon-cancel-3"
                                              style="color: red;"></span>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% if list.is_executed == 1 %}
                                        <span class="icon-check-1"
                                              style="color: limegreen;"></span>
                                    {% elif list.is_executed == 0 %}
                                        <span class="icon-help-2"
                                              style="color: darkgray;"></span>
                                    {% else %}
                                        <span class="icon-cancel-3"
                                              style="color: red;"></span>
                                    {% endif %}
                                </td>
                                <td align="center">{{ list.instance.name }}</td>
                                <td align="center">{{ list.instance_group.name }}</td>
                                <td align="center">
                                    {% if request.user.identity != 'project_manager' %}
                                        <div class="modal fade" id="{{ list.id }}rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                                                aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">请填写原因</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="inputUsername" class="col-sm-2 control-label">取消执行原因:</label>
                                                            <div class="col-sm-10" style="display: inline-block;">
                                                                <input type="text" class="form-control reject_reason"  placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        <button class="btn btn-primary save-changes" data-record-id="{{ list.id }}">Save changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{% url 'sql_review_sql_review_before_execute' list.id %}" type="button" class="btn btn-default btn-xs">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Execute
                                        </a>
                                        <a type="button" class="btn btn-default btn-xs " data-toggle="modal" data-target="#{{ list.id }}rejectModal">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Reject
                                        </a>
                                    {% else %}
                                        <a data-record-id="{{ list.id }}" type="button"
                                           class="btn btn-default btn-xs message_to_oper">
                                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span> 催oper执行
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% csrf_token %}
                        </tbody>
                    </table>
                    <div class="dataTables_paginate paging_bootstrap pull-right" id="datatables-1_paginate">
                        <ul class="pagination">
                            {% if record_list.has_previous %}
                                <li ><a href="?{{ record_list.previous_page_number.querystring }}">上一页</a>
                                </li>
                            {% else %}
                                <li class="prev disabled"><a>首页</a>
                                </li>
                            {% endif %}
                            {% for page in record_list.pages %}
                                {% if page %}
                                    {% ifequal page record_list.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li ><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if record_list.has_next %}
                                <li ><a href="?{{ record_list.next_page_number.querystring }}">下一页</a></li>
                            {% else %}
                                <li class="prev disabled"><a>尾页</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script>
        $('.save-changes').on('click', function () {
            $(this).attr('disabled', 'disabled');
            $(this).html('Loading');
            var reject_reason = $(this).parent().parent().find('.reject_reason').val();
            var csrf = $('[name="csrfmiddlewaretoken"]').val();
            var record_id = $(this).attr('data-record-id');
            $.ajax({
                type: "POST",
                url: "{% url 'sql_review_reject_to_dev' %}",
                data: {
                    'reject_reason': reject_reason,
                    'record_id': record_id
                },
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrf);
                },
                success: function (data) {
                    if(data.status === 'success'){
                        location.href = '/sql_review/submitted_list/'
                    }else {
                        alert('failed')
                    }
                }
            });
        });
        $('.message_to_oper').on('click', function () {
            $(this).attr('disabled', 'disabled');
            $(this).html('Loading');
            var button_obj = $(this);
            var record_id = $(this).attr('data-record-id');
            var csrf = $('[name="csrfmiddlewaretoken"]').val();
            $.ajax({
                type: "POST",
                url: "{% url 'sql_review_message_to_oper' %}",
                data: {
                    'record_id': record_id
                },
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrf);
                },
                success: function (data) {
                    button_obj.html('已发送');
                }
            });
        });
    </script>
{% endblock %}