{% extends 'base/base.html' %}

{% block content %}
<div class="col-sm-12 portlets">

        <div class="widget">
            <div class="widget-header transparent">
                <h2><strong>消息</strong> 列表</h2>
                <div class="additional-btn">
                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                </div>
            </div>
            <div class="widget-content padding">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>发送者</th>
                            <th>发送时间</th>
                            <th>内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages.object_list %}
                            <tr>
                                <td>{{ message.info.id }}</td>
                                <td>{{ message.send_from.name }}</td>
                                <td>{{ message.info.send_time | date:'y-m-d H:i' }}</td>
                                <td>{{ message.info.info }}{% autoescape off %} <a href="{{ message.info.click_path }}">点击查看详细。</a> {% endautoescape %}</td>
                            </tr>
                        {% endfor %}


                    </tbody>
                </table>
                <div class="dataTables_paginate paging_bootstrap pull-right" id="datatables-1_paginate">
                    <ul class="pagination">
                        {% if messages.has_previous %}
                            <li ><a href="?{{ messages.previous_page_number.querystring }}">上一页</a>
                            </li>
                        {% else %}
                            <li class="prev disabled"><a>首页</a>
                            </li>
                        {% endif %}
                        {% for page in messages.pages %}
                            {% if page %}
                                {% ifequal page messages.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li ><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if messages.has_next %}
                            <li ><a href="?{{ messages.next_page_number.querystring }}">下一页</a></li>
                        {% else %}
                            <li class="prev disabled"><a>尾页</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block heading %}
    <h1><i class='fa fa-table'></i> 站内消息</h1>
    <h3>以下为您所接收到的消息</h3>
{% endblock %}

{% block js %}
{% endblock %}